attrs==21.2.0
bcrypt==3.2.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cryptography==3.3.2
dnspython==2.1.0
ecdsa==0.14.1
email-validator==1.1.2
fastapi==0.65.1
h11==0.12.0
httpcore==0.13.3
httpx==0.18.1
idna==2.10
iniconfig==1.1.1
motor==2.4.0
mypy==0.800
mypy-extensions==0.4.3
mypyls @ https://github.com/matangover/mypyls/archive/master.zip
packaging==20.9
passlib==1.7.4
pluggy==0.13.1
py==1.10.0
pyasn1==0.4.8
pycparser==2.20
pydantic==1.8.2
pymongo==3.11.4
pyparsing==2.4.7
pytest==6.2.4
pytest-asyncio==0.15.1
python-dotenv==0.17.1
python-jose==3.2.0
python-jsonrpc-server==0.4.0
python-multipart==0.0.5
requests==2.25.1
rfc3986==1.5.0
rsa==4.7.2
six==1.16.0
sniffio==1.2.0
starlette==0.14.2
toml==0.10.2
typed-ast==1.4.3
typing-extensions==3.10.0.0
ujson==4.0.2
urllib3==1.26.4
uvicorn==0.13.4
yapf==0.31.0
